Checks: 'clang-diagnostic-*,
         clang-analyzer-*,
         abseil-duration-*,
         abseil-faster-strsplit-delimiter,
         abseil-no-internal-dependencies,
         abseil-no-namespace,
         abseil-redundant-strcat-calls,
         abseil-str-*,
         abseil-time-*,
         altera-struct-pack-align,
         boost-use-to-string,
         bugprone-*,
         concurrency-mt-unsafe,
         darwin-*,
         google-runtime-int,
         google-explicit-constructor,
         hicpp-multiway-paths-covered,
         hicpp-signed-bitwise,
         llvm-prefer-register-over-unsigned,
         llvm-twine-local,
         llvmlibc-callee-namespace,
         llvmlibc-implementation-in-namespace,
         misc-confusable-identifiers,
         misc-const-correctness,
         misc-coroutine-hostile-raii,
         misc-definitions-in-headers,
         misc-header-include-cycle,
         misc-include-cleaner,
         misc-misleading-identifier,
         misc-non-copyable-objects,
         misc-redundant-expression,
         misc-uniqueptr-reset-release,
         misc-unused-parameters,
         misc-unused-using-decls,
         misc-use-anonymous-namespace,
         modernize-avoid-bind,
         modernize-macro-to-enum,
         performance-*,
         readability'
